@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css';

.fab {
    padding: 0.5em;
    font-size: 2em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    margin: 0.2em;
    border-radius: 50%;
    color: white;
}

.fab:hover {
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

.fa-github { background: #24292e }
.fa-reddit { background: #ff5700 }
.fa-twitter { background: #55acee }
.fa-youtube-square { background: #bb0000 }
.fa-soundcloud { background: #ff5500 }
.fa-stack-exchange { background: #242729 }
.fa-facebook { background: #3b5998 }
.fa-linkedin { background: #007bb5 }
